<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Add USER</title>
</head>
<body>

  <div class="container my-5">
        <h3> Add User</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/add}" th:object="${user}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Name:</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="email" class="col-form-label">Age: </label> <input type="text" th:field="*{age}" class="form-control" id="age" placeholder="Age"> <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add Student">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>